<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Health Checker - {{ .title }}</title>
    <style type="text/css" media="screen">
      @import url("/assets/css/main.css");
    </style>
  </head>
  <body>
    I'm layout
    <br>
    {{if .currentUser}}
      <a href="/login">Log In</a> to start
    {{else}}
      <a href="/logout">Log Out</a>
    {{end}}
    {{template "content" .}}
  </body>
</html>
