<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Health Checker - {{ .title }}</title>
    <style type="text/css" media="screen">
      @import url("/assets/css/base.css");
    </style>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
  </head>
	<script type="text/javascript" src="/assets/js/base.js"></script>
  <body>
    I'm layout
    <br>
    {{if .currentUser}}
      <a href="/logout">Log Out</a>
      <a href="/users/show">Profile</a>
      <a href="/sources/index">Sources</a>
    {{else}}
      <a href="/login">Log In</a> or <a href="/users/new">Sign Up</a> to start
    {{end}}
    {{template "content" .}}
  </body>
</html>
