{{define "content"}}
  <h1>
    List of Sources
    <a href="/sources/new">NEW</a>
  </h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>URL</th>
        <th>Status</th>
        <th>Created At</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{range $index, $source := .sources}}
        <tr>
          <td>{{$source.ID}}</td>
          <td>{{$source.URL}}</td>
          <td>{{$source.Status}}</td>
          <td>{{$source.CreatedAt.Format "01/02/2006 15:04:05"}}</td>
          <td>
            <a href="/sources/{{$source.ID}}/destroy" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a>
          </td>
        </tr>
      {{end}}
    </tbody>
  </table>
{{end}}
