{{define "content"}}
  <h1>User info</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Updated At</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{.currentUser.ID}}</td>
        <td>{{.currentUser.Email}}</td>
        <td>{{.currentUser.UpdatedAt}}</td>
        <td>{{.currentUser.CreatedAt}}</td>
      </tr>
    </tbody>
  </table>
{{end}}
